html,
body {
	width:99%;
	height:100%;
	text-align:center;
}
body {
	background-color: rgb(0,0,32);
}
p, h1 {
	color:white;
}
a {
	color:white;
	text-decoration:underline;
}
.topnav {
	background-color:white;
	overflow: hidden;
	margin-right: 15px;
	margin-left: 15px;
}
.topnav a {
	color:black;
}
